<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
  <title>RunMate</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href={% static "CSS/style.css" %} rel="stylesheet" type="text/css" />
  
  <!-- <link rel="stylesheet" href="\runmate_project\leaflet.css"/>
  <script src="\runmate_project\leaflet.js"></script>
  <style>
    #map{ height: 100% }
  </style>
  -->
  
  <!-- <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
  <script>
	$(document).ready(function()
	{
		$.ajax({
			type: "GET",
			url: "/runmate_project/static/GPX/Lugano.gpx",
			dataType: "xml",
			success: parseXML
		});
	});

	function parseXml(xml)
	{
		$(xml).find("trkpt").each(function()
		{
			mapPoint = L.marker([$this.attr("lat")].text(),$(this).attr("long").text()]).addTo(MyMap);
		});
	}
  </script>
  -->
   
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="
      collapse" data-target="#navbar-collapse-main">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/static/img/logo.png" height="25" ></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="active" href="#">Home</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="home">
  <div class="landing-text" style="background-image: url(../static/img/running.jpg); background-size:cover">
    <h1>RUNMATE</h1>
    <h3 style="color:black">Click the button below to upload your run</h3>
    <a href="#data" class="btn btn-default btn-lg">Upload your run</a>
  </div>
</div>

<div id="data" class="padding">
  <div class="container">
    <div class="col-sm-6">
      <h3>Distance Ran</h3>
      <form action="">
        Distance in miles: <input type="text" name="distance"><br>
        <input type="submit" value="Submit">
      </form>
      <h3>Duration Ran</h3>
      <form action="">
        Duration in Minutes: <input type="text" name="duration"><br>
        <input type="submit" value="Submit">
      </form>
      <div>
      <a href="#" class="btn btn-default btn-lg">Upload Another Run</a>
      </div>
  </div>
 </div>
  
  <!-- div id="map"></div>

  <script>
	// initialize the map
	var map = L.map('map').setView([42.35, -71.08], 13);

    // load a tile layer
	L.tileLayer('http://tiles.mapc.org/basemap/{z}/{x}/{y}.png',
    {
      attribution: 'Tiles by <a href="http://mapc.org">MAPC</a>, Data by <a href="http://mass.gov/mgis">MassGIS</a>',
      maxZoom: 17,
      minZoom: 9
    }).addTo(map);

  </script> -->


<footer id="contact" class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">
      <h3>Contact Us</h3>
      <br>
      <h4> University of Glasgow, Boyd Orr 720</h4>
    </div>
    <div class="col-sm-4">
      <h3>Connect</h3>
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-youtube"></a>
    </div>
  </div>
</footer>

</body>
</html>